p{
    background-color: aqua;
    /* display: inline; */
}
span{
    background-color: aqua;
   
}

div{
    height: 50px;
    width: 50px; 
    background-color:bisque;
    border: 2px solid;
    text-align: center;
    margin: 5px;
    
    }

/* #d2
{
position:absolute;
top: 200px;
left: 20px;
}

#d3
{
position:fixed;
top: 20px;
right: 20px;

} */
